<html>
  <head>
    <title>Create an Ad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <form name="ad" action="/display_ad" method="post">

    </form>

  </body>
</html>
